@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0; font-family:Verdana, Geneva, sans-serif; font-size:12px;
    background:url(images/bg.jpg) left top no-repeat; }
div,ul,li{margin:0; padding:0;}
li{ list-style:none;}
img{border:none}
.clear{ clear:both;}
.time{ font-size:24px;
    font-weight:bold; font-family:SimHei; color:#fff;
    text-align:center;background-color: #0089CA; vertical-align: middle;padding-top: 20px;
}

.weather{}
.temperatureicon{margin-top:165px; margin-left:22px; float:left;}
.wendu{ width:90px; height:60px; float:left; margin-top:165px; margin-left:10px; font-size:50px; font-weight:bold; font-family:SimHei; color:#36270c; text-shadow:1px 1px 1px #fff; line-height:69px;}
.tips{ width:185px; height:85px; margin-left:50px; margin-top:20px; font-size:24px; font-weight:bold; font-family:SimHei; color:#36270c; text-shadow:1px 1px 1px #fff; line-height:30px;}

.newswrapper{background:url(images/newsbg.jpg) left top no-repeat; float:left; background-color: #000000}
.news-list{width:85%; height:117px;overflow:hidden;margin:0 auto 0 auto;}
.news-list li{ height:117px; margin-left:85px; font-size:26px; font-weight:bold;
    font-family:SimHei; color:#fff; line-height:40px; text-indent:30px; padding-top:3px; overflow:hidden;}

/*提示信息样式*/
.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert h4 {
    color: inherit;
    margin-top: 0;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}

.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
.alert-info hr {
    border-top-color: #A6E1EC;
}
.alert-info .alert-link {
    color: #245269;
}
